agno
aiohappyeyeballs
aiohttp
aiosignal
alembic
altair
annotated-types
anyio
appdirs
asgiref
asttokens
attrs
auth0-python
backoff
bcrypt
beautifulsoup4
blinker
build
cachetools
certifi
cffi
charset-normalizer
Chroma
chroma-hnswlib
chromadb
click
cohere
colorama
coloredlogs
crewai
crewai-tools
cryptography
curl_cffi
dataclasses-json
decorator
Deprecated
deprecation
distro
docker
docstring_parser
duckduckgo_search
durationpy
embedchain
et_xmlfile
exa-py
executing
fastapi
fastavro
feedparser
filelock
filetype
Flask
flask-cors
flatbuffers
frozendict
frozenlist
fsspec
gitdb
GitPython
google
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-speech
google-genai
google-generativeai
googleapis-common-protos
gptcache
greenlet
grpcio
grpcio-status
gspread
h11
h2
hpack
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
hyperframe
idna
importlib_metadata
importlib_resources
infinity_client
iniconfig
instructor
ipython
ipython_pygments_lexers
itsdangerous
jedi
Jinja2
jiter
joblib
json5
json_repair
jsonpatch
jsonpickle
jsonpointer
jsonref
jsonschema
jsonschema-specifications
kubernetes
lancedb
langchain
langchain-cohere
langchain-community
langchain-core
langchain-experimental
langchain-google-genai
langchain-huggingface
langchain-openai
langchain-text-splitters
langsmith
litellm
lxml
lxml_html_clean
Mako
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mdurl
mem0ai
mmh3
monotonic
mpmath
multidict
multitasking
mypy-extensions
narwhals
networkx
newspaper4k
nltk
nodeenv
numpy
oauthlib
ollama
onnxruntime
openai
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
overrides
packaging
pandas
parso
pdfminer.six
pdfplumber
peewee
pgvector
pillow
platformdirs
pluggy
portalocker
posthog
primp
prompt_toolkit
propcache
proto-plus
protobuf
psycopg2-binary
pulsar-client
pure_eval
pyarrow
pyasn1
pyasn1_modules
pybase64
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
PyJWT
pyparsing
pypdf
pypdfium2
PyPika
pyproject_hooks
pyright
pysbd
pytest
pytest-mock
python-dateutil
python-dotenv
python-multipart
pytube
pytz
pyvis
PyYAML
qdrant-client
referencing
regex
requests
requests-file
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
safetensors
schema
scikit-learn
scipy
sentence-transformers
setuptools
sgmllib3k
shellingham
six
smmap
sniffio
soupsieve
SQLAlchemy
stack-data
starlette
streamlit
sympy
tabulate
tantivy
tenacity
threadpoolctl
tiktoken
tldextract
tokenizers
toml
tomli
tomli_w
torch
tornado
tqdm
traitlets
transformers
typer
types-requests
typing-inspect
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
uv
uvicorn
watchdog
watchfiles
wcwidth
websocket-client
websockets
Werkzeug
wrapt
yarl
yfinance
zipp
zstandard
gunicorn
fastembed
psycopg2
psycopg[binary]