agno
Flask
flask-cors
fastapi
uvicorn
gunicorn
psycopg2-binary
pgvector
fastembed
requests
python-dotenv
pydantic
openai
sentence-transformers
numpy
langchain
langchain-openai
langchain-community
langchain-core
beautifulsoup4